extends layout

block content

    h1= "比特币套利计算器"
    div
        //div.well
            | coinbase收1.5%交易手续费,汇出比特币不收钱,haobtc收0.3%交易收费,提现收0.2%
        div.row
            div.form-group.col-md-6
                label(for="initial_rmb")
                   | 人民币总金额,目前每笔<=3万人民币
                input.form-control#initial_rmb(placeholder="起始人民币")
            div.form-group.col-md-6
                label
                   | 上银汇款手续费(50元/每笔)
                input.form-control#shangyin_fee(placeholder="上银手续费")
        div.row
            div.form-group.col-md-6
                label
                   | coinbase买单(美元)
                input.form-control#coinbase_buy(placeholder="")
            div.form-group.col-md-6
                label
                    | coinbase卖单(美元)
                input.form-control#coinbase_sell(placeholder="")
        div.row
            div.form-group.col-md-6
                label
                    | Haobtc卖单
                input.form-control#haobtc_sell(placeholder="haobtc 买入价格")
            div.form-group.col-md-6
                label
                   | Haobtc买单
                input.form-control#haobtc_buy(placeholder="haobtc 卖出价格")
        div.row
            div.form-group.col-md-6
                label
                    | 上银汇款汇率
                input.form-control#shangyin_rate(placeholder="上银汇款汇率")
            div.form-group.col-md-6
                label
                   |  -
                button.form-control.btn-success.btn#calculate3
                   | 计算
            div.form-group.col-md-6
                label
                    | Bank CNY->USD->BTC->CNY
                input.form-control#bank_profit(placeholder="收益率")
            div.form-group.col-md-6
                label
                    | Debit CNY->USD->BTC->CNY
                input.form-control#debit_profit(placeholder="收益率")
            div.form-group.col-md-6
                label
                    | Debit CNY->BTC->USD
                input.form-control#transfer_ratio(placeholder="转化汇率")
            div.form-group.col-md-6
                label
                    | Debit USD->BTC->CNY
                input.form-control#transfer_back_ratio(placeholder="转化汇率")
    script.
        data = !{JSON.stringify(data)}

    script(src="/javascripts/jquery/dist/jquery.min.js")
    script(src="/javascripts/bootstrap/dist/js/bootstrap.min.js")
    link(rel='stylesheet', href='/javascripts/bootstrap/dist/css/bootstrap.min.css')
    script(src="/javascripts/index.js")